body{
    background-color: rgb(214, 219, 183);
}

h2 {
    text-align: center;
    color: blue;
}



.center, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

th {
    background-color: rgb(223, 103, 103);
}

tr:nth-child(even){
    background-color: rgb(48, 97, 97);
}

tr:nth-child(odd){
    background-color: rgb(37, 134, 42);
}

tr:hover{
    color: rgb(255, 255, 255);
}