@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --main-color: #1E293B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
}

.header {
  background-color: var(--main-color);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
}

.navbar ul {
  display: flex;
}


.showcase {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 320px;
  background-color: var(--main-color);
  color: white;
  padding: 25px 20px;
}

.show-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.info {
  margin-top: 50px;
  line-height: 2rem;
}

form input {
  display: inline-block;
  width: 45%;
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
}

form button {
  padding: 5px 10px;
  border-radius: 7px;
}

.features {
  margin-top: 25px;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.course {
  text-align: center;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.course h2 {
  padding: 10px 0;
}

.course p {
  text-align: justify;
}

.testimonials{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    align-items: flex-start;
}

.card{
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: #1E293B;
}

.card .detail{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 7px;
}

.card img {
    clip-path: circle();
    width: 100%;
    object-fit: cover;
}

.card .text{
    padding: 0 12px;
}

.footer{
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
}